<!DOCTYPE html>
<html>
<head>
  <title>TaskEngine</title>
  <%= stylesheet_link_tag    "fancyengine/application", media: "all" %>
  <%= javascript_include_tag "fancyengine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
